<h1>Edit bug</h1>

{{#bug-editor bug=model saveRedirect='afterEdit'}}
   This is yield information and will be displayed in the
   yield outlet of the component
{{/bug-editor}}

<section class="bug-list-item">
   <h3>{{model.title}}</h3>
   <ul>
      <li>{{model.id}}</li>
      <li>{{model.description}}</li>
      <li>{{#unless model.isActive}}Not {{/unless}}Active</li>
      <li>{{#if model.hasDirtyAttributes}}Not {{/if}}Saved</li>
      <li>{{model.createdDate}}</li>
   </ul>
</section>

{{outlet}}
